__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log

#git
.git
.gitignore

#jupyter notebooks
.ipynb_checkpoints

#data
README.md
data/
downloads/
data_code/
.h5